doctype html
html(lang='en')
	head
		meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
		link(rel='stylesheet' href='./stylesheets/main.css')
		title Bootstrap Sass Builder
	body
		block content

		footer.
			Copyright &copy; 2016 @sdarmaputra. All rights reserved.